<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<div class="mb-3" data-aiu-features-ext-conf-field>
    <label class="form-label" for="aiu-em-{extensionKey}-{configurationItem.name}">
        {configurationItem.label}
        <f:if condition="{configurationItem.storedSecretMask}">
            <span class="badge rounded-pill bg-success-subtle text-success-emphasis">
                <f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf:module.aiFeatures.secretKey.configured"
                             default="Configured" />
            </span>
        </f:if>
    </label>

    <f:if condition="{configurationItem.storedSecretMask}">
        <small class="aiu-field-subnote aiu-field-subnote--stored">
            <f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf:module.aiFeatures.secretKey.stored"
                         arguments="{0: configurationItem.storedSecretMask}"
                         default="API key configured (%s). Leave blank to keep the existing key, or enter a new value to replace it." />
        </small>
    </f:if>

    <div class="aiu-field__inline">
        <f:if condition="{configurationItem.storedSecretMask}">
            <f:then>
                <input class="form-control"
                       type="password"
                       name="{configurationItem.name}"
                       id="aiu-em-{extensionKey}-{configurationItem.name}"
                       value=""
                       data-aiu-secret-key-input
                       autocomplete="off"
                       placeholder="{f:translate(key: 'LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf:module.aiFeatures.secretKey.placeholderEdit', default: 'Leave blank to keep existing key')}" />
            </f:then>
            <f:else>
                <input class="form-control"
                       type="password"
                       name="{configurationItem.name}"
                       id="aiu-em-{extensionKey}-{configurationItem.name}"
                       value=""
                       data-aiu-secret-key-input
                       autocomplete="off"
                       placeholder="{f:translate(key: 'LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf:module.aiFeatures.secretKey.placeholderNew', default: 'Enter your API key')}" />
            </f:else>
        </f:if>
        <button type="button" class="reveal" data-aiu-toggle-secret-reveal>
            <f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf:module.aiFeatures.secretKey.reveal"
                         default="Show" />
        </button>
    </div>

    <f:if condition="{configurationItem.description}">
        <div class="form-text">{configurationItem.description -> f:format.nl2br()}</div>
    </f:if>
    <f:if condition="{configurationItem.typeHint}">
        <div class="form-text">{configurationItem.typeHint}</div>
    </f:if>
</div>
</html>
