<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="ll" value="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf" />

<button class="btn btn-success flex-shrink-0" type="button" data-aiu-prompt-create>
    <core:icon identifier="actions-add" alternativeMarkupIdentifier="inline" />
    <f:translate key="{ll}:module.aiPrompts.action.addPrompt" default="Add Prompt" />
</button>
