<div class="aiu-mcp-snippet" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:render partial="McpServer/ClientTokenPanel" arguments="{clientKey: 'manus', tokenState: clientTokens.manus}" />
    <ol class="aiu-mcp-steps">
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.manus.step1" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.manus.step2" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.manus.step3" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.manus.step4" arguments="{0: serverUrl}" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.manus.step5" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.manus.step6" /></li>
    </ol>
</div>
