<div class="aiu-mcp-snippet" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:render partial="McpServer/ClientTokenPanel" arguments="{clientKey: 'n8n', tokenState: clientTokens.n8n}" />
    <ol class="aiu-mcp-steps">
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.n8n.step1" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.n8n.step2" arguments="{0: serverUrl}" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.n8n.step3" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.n8n.step4" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.n8n.step5" /></li>
        <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.n8n.step6" /></li>
    </ol>
</div>
