<ol class="aiu-mcp-steps small mb-0" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.step1" /></li>
    <li>
        <f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.step3" />
        <ul class="mb-0 mt-1 ps-3">
            <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.endpoint" /></li>
            <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.auth" /></li>
            <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.oauth" /></li>
        </ul>
    </li>
    <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.step4" /></li>
    <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.step5" /></li>
    <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.step6" /></li>
    <li><f:translate key="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf:module.mcpServer.snippet.openaiGpts.step7" /></li>
</ol>
