<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<input type="hidden" name="search" value="{aiUsageFilters.search}" />
<input type="hidden" name="engine" value="{aiUsageFilters.engine}" />
<input type="hidden" name="model" value="{aiUsageFilters.model}" />
<input type="hidden" name="module" value="{aiUsageFilters.module}" />
<input type="hidden" name="scope" value="{aiUsageFilters.scope}" />
<input type="hidden" name="reqType" value="{aiUsageFilters.reqType}" />
<input type="hidden" name="status" value="{aiUsageFilters.status}" />
<input type="hidden" name="user" value="{aiUsageFilters.user}" />
<input type="hidden" name="max" value="{aiUsageFilters.max}" />
<input type="hidden" name="currentPage" value="{aiUsageFilters.currentPage}" />
</html>
