<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="ll" value="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod.xlf" />

<f:asset.module identifier="@nitsan/nst3af/toolbar-credit-menu.js" />

<span class="aiu-toolbar-credit-balance aiu-toolbar-credit-balance--{badge.level} d-inline-flex align-items-center"
      title="{f:translate(key: '{ll}:toolbar.credits.title', default: 'T3Planet Credits')}">
    <span class="aiu-toolbar-credit-balance__icon" aria-hidden="true">
        <core:icon identifier="actions-wallet" size="small" alternativeMarkupIdentifier="inline" />
    </span>
    <span class="aiu-toolbar-credit-balance__amount">{badge.creditsLabel}</span>
</span>
</html>
