<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="ll" value="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf" />
<f:variable name="confirmFormId" value="aiu-ailabel-confirm-{ref}" />
<f:variable name="clearFormId" value="aiu-ailabel-clear-{ref}" />

<form method="post" action="{bulkActionUri}" id="{confirmFormId}" class="hidden">
    <input type="hidden" name="action" value="confirm" />
    <input type="hidden" name="returnTab" value="{returnTab}" />
    <input type="hidden" name="refs[]" value="{ref}" />
</form>
<form method="post" action="{bulkActionUri}" id="{clearFormId}" class="hidden">
    <input type="hidden" name="action" value="clear" />
    <input type="hidden" name="returnTab" value="{returnTab}" />
    <input type="hidden" name="refs[]" value="{ref}" />
</form>
<div class="btn-group" role="group" aria-label="{f:translate(key: '{ll}:module.aiLabel.table.actions', default: 'Actions')}">
    <button type="button"
            class="btn btn-default btn-sm"
            title="{f:translate(key: '{ll}:module.aiLabel.action.edit', default: 'Edit AI Label')}"
            data-ailabel-drawer-trigger="1"
            data-drawer-url="{editUri}">
        <core:icon identifier="actions-open" size="small" alternativeMarkupIdentifier="inline" />
    </button>
    <button type="submit"
            class="btn btn-default btn-sm"
            form="{confirmFormId}"
            title="{f:translate(key: '{ll}:module.aiLabel.action.confirm', default: 'Confirm')}">
        <core:icon identifier="actions-check" size="small" alternativeMarkupIdentifier="inline" />
    </button>
    <button type="submit"
            class="btn btn-default btn-sm"
            form="{clearFormId}"
            title="{f:translate(key: '{ll}:module.aiLabel.action.clear', default: 'Clear confirmation')}">
        <core:icon identifier="actions-undo" size="small" alternativeMarkupIdentifier="inline" />
    </button>
</div>
