<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="ll" value="LLL:EXT:ns_t3af/Resources/Private/Language/locallang_mod_dashboard.xlf" />

<div class="card card-size-large aiu-ai-usage__table-card mb-3">
    <div class="card-body p-0">
        <f:render partial="AiLabel/TableToolbar" arguments="{
            variant: 'text',
            listTotalCount: textList.total,
            filters: filters,
            filterRouteParams: filterRouteParams,
            listRoute: listRoute,
            aiLabelPagination: aiLabelPagination,
            exportUri: exportUri,
            refreshUri: refreshUri
        }" />
        <div class="table-fit table-responsive aiu-ailabel-table-wrap">
            <table class="table table-striped table-hover align-middle mb-0 aiu-ailabel-table" data-ailabel-table="texts">
                <thead>
                    <tr>
                        <th scope="col" class="aiu-ailabel-table__col-select">
                            <input type="checkbox" data-ailabel-select-all aria-label="{f:translate(key: '{ll}:module.aiLabel.table.selectAll', default: 'Select all')}" />
                        </th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.record" default="Record" /></th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.type" default="Type" /></th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.involvement" default="AI involvement" /></th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.publicInterest" default="Public interest" /></th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.reviewedBy" default="Reviewed by a named person" /></th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.notice" default="Notice" /></th>
                        <th scope="col"><f:translate key="{ll}:module.aiLabel.table.why" default="Why" /></th>
                        <th scope="col" class="col-control"><f:translate key="{ll}:module.aiLabel.table.actions" default="Actions" /></th>
                    </tr>
                </thead>
                <tbody>
                    <f:if condition="{textList.rows}">
                        <f:then>
                            <f:for each="{textList.rows}" as="row">
                                <tr>
                                    <td><input type="checkbox" form="aiu-ailabel-bulk-form" name="refs[]" value="{row.table}:{row.uid}" data-ailabel-row-checkbox /></td>
                                    <td>{row.title}</td>
                                    <td><span class="badge badge-secondary">{row.type}</span></td>
                                    <td><f:render partial="AiLabel/InvolvementBadge" arguments="{involvement: row.involvement}" /></td>
                                    <td>{row.publicInterest}</td>
                                    <td class="{f:if(condition: row.unnamedReview, then: 'text-danger fw-semibold')}">{row.reviewedLabel}</td>
                                    <td><f:render partial="AiLabel/LabelStateBadge" arguments="{state: row.noticeState}" /></td>
                                    <td><code title="{row.reasonCode}">{row.reasonCode}</code></td>
                                    <td>
                                        <f:render partial="AiLabel/TableActions" arguments="{
                                            ref: '{row.table}:{row.uid}',
                                            editUri: row.editUri,
                                            returnTab: 'texts',
                                            bulkActionUri: bulkActionUri
                                        }" />
                                    </td>
                                </tr>
                            </f:for>
                        </f:then>
                        <f:else>
                            <tr><td colspan="9" class="text-variant"><f:translate key="{ll}:module.aiLabel.table.emptyTexts" default="No text records for current filters." /></td></tr>
                        </f:else>
                    </f:if>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="callout callout-warning">
    <f:translate key="{ll}:module.aiLabel.texts.unnamedInfo" default="A person ticked reviewed and no name was recorded. Assign responsible person closes the gap." />
</div>
</html>
