<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="aiu-providers">
    <f:render partial="Module/TabPageHeader" arguments="{_all}" />

    <f:be.infobox
        state="2"
        title="A license key is required. Get a free key for dev, staging and local → https://t3planet.de/en/ai-foundation-for-typo3">
        <f:if condition="{licenseBannerShowGetKeyLink} == 1">
            <f:then>
                A commercial license is required for production environment.
            </f:then>
            <f:else>
                EXT:ns_license is required to store and validate the free lifetime license key for AI Foundation.
            </f:else>
        </f:if>
    </f:be.infobox>
</div>
</html>
