<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="aiu-providers">
    <f:render partial="Module/TabPageHeader" arguments="{_all}" />

    <f:be.infobox
        state="2"
        title="Activate T3AF (AI Foundation) required OSS license key.">
        <f:if condition="{licenseBannerShowGetKeyLink} == 1">
            <f:then>
                Go to T3Planet Shop backend module &gt; AI Universe &gt; AI Foundation &gt; Click on Start
            </f:then>
            <f:else>
                EXT:ns_license is required to store and validate the OSS license key for AI Foundation.
            </f:else>
        </f:if>
    </f:be.infobox>
</div>
</html>
